.carousel {
    background: SkyBlue;
    height: 290px;
    margin-bottom: 0;
    padding-top: 10px;
}
.carousel-banners {
    margin: auto;
    border-radius: 10px;
}

.carousel-pager {
    margin: auto;
    position: relative;
    text-align: right;
    top: -40px;
    width: 960px;
}
.carousel-image {
    float: left;
    margin-right: 25px;
}
.carousel-image img{
    border-radius: 10px 0 0 10px;
}
.carousel-text {
    background-color: white;
    border-radius: 10px;
    bottom: 0;
    height: 260px;
    left: 0;
    padding: 30px 25px 0 0;
    position: static;
    width: 955px;
}
.carousel-title {
    font-size: 150%;
}
.carousel-body {
    font-size: 90%;
    margin-right: 0.1em;
}
.carousel-pager-item {
    background-color: transparent;
    padding: 0;
    font-size: 150%;
    text-shadow: 0px -1px 1px #666;
}
.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active {
    color: #DDDDDD;
}
.carousel-pager-button-prev,
.carousel-pager-button-next {
    background: transparent;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
    padding: 0.1em 0.25em;
}
.carousel-pager-button-prev:hover,
.carousel-pager-button-next:hover {
    background: #DDDDDD;
    color: white;
}
.carousel-pager-button-prev {
    border-radius: 5px 0 0 5px;
    border: 1px solid #888;
}
.carousel-pager-button-next {
    border-radius: 0 5px 5px 0;
    border: 1px solid #888;
}

/*.carousel-pager-button-prev:link,
.carousel-pager-button-next:link,
.carousel-pager-button-prev:visited,
.carousel-pager-button-next:visited {
    color: #DDDDDD;
}*/