.carousel {
    background: #767676;
    height: 300px;
    margin-bottom: 0;
    padding-top: 10px;
}
.carousel-banners {
    margin: auto;
    border-radius: 5px;
}
.carousel-pager {
    margin: auto;
    position: relative;
    text-align: right;
    top: -40px;
    width: 960px;
}
.carousel-image {
    float: left;
    margin-right: 1em;
}
.carousel-text {
    background-color: #99c198;
    height: 290px;
    padding-top: 2em;
    position: static;
    width: 100%;
}
.carousel-title {
    font-size: 150%;
}
.carousel-pager-item {
    background-color: transparent;
    padding: 0;
    font-size: 150%;
    text-shadow: 0px -1px 1px #666;
}
.carousel-pager-item-active:link,
.carousel-pager-item-active:visited,
.carousel-pager-item-active {
    color: #DDDDDD;
}
.carousel-pager-button-prev,
.carousel-pager-button-next {
    font-size: 150%;
    font-weight: bold;
    margin: 0;
    padding: 0.1em 0.25em;
}
.carousel-pager-button-prev:hover,
.carousel-pager-button-next:hover {
    background: #205C90;
    color: #DDDDDD;
}
.carousel-pager-button-prev {
    border-radius: 5px 0 0 5px;
    border: 1px solid #888;
}
.carousel-pager-button-next {
    border-radius: 0 5px 5px 0;
    border: 1px solid #888;
}
